.header__subtitle-link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.05s;
}

.header__subtitle-link:hover {
  opacity: 0.6;
}

.header__subtitle-link::after {
  content: "\2192";
  margin-left: 5px;
}